@import "./layout";
@import "./navbar";
@import "./typography";
@import "./variables";
@import "./about";
@import "./skills";
@import "./experices";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #a4acc4;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0056d865;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background-color: #777;
  }
}
.Title {
  text-transform: uppercase !important;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  &::before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #0381ff38;
    width: 6rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #037fff;
    width: 3rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  span {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: 5rem;
    opacity: 0.07;
  }
}
span {
  color: #037fff;
}
